@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Open+Sans&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #EDF2F4;
  --secondary-color: #282D42;
  --accent1-color: #EF233C;
  --accent2-color: #D90429;

  /* change the values below to your chosen font(s) */
  --heading-font: "Bai Jamjuree", sans-serif;
  --paragraph-font: "Open Sans", sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #282d42;  /* headlines on a white background */ 
  --headline-color-on-color: #EDF2F4; /* headlines on a colored background */ 
  --paragraph-color-on-white: #282d42; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #EDF2F4; /* paragraph text on a colored background */ 
  --paragraph-background-color: #282d42;
  --nav-link-color: #EDF2F4;
  --nav-background-color: #EF233C;
  --nav-hover-link-color: #EDF2F4;
  --nav-hover-background-color: #396E94;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
  }

#content {
    display: grid;
    grid-template-rows: auto;
}

header {
    background-color: #EF233C;
    padding: 10px;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo img {
    max-height: 150px;
    border-radius: 50%;
    margin: auto;
}

.navbar-links {
    margin-right: 10px;
}
.navbar-links a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #EDF2F4;
    font-size: 25px;
}

/* Title styling */
.title {
    font-family: "Bai Jamjuree", sans-serif;
    text-align: center;
    margin: 20px 20px;
    border: solid black 6px;
    background-color: #282D42;
    color: #EDF2F4;
}

/* Content  */
#hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    margin-top: 20px;
}
 #hero-img1 {
    max-width: 100%;
    height: auto;
    margin: 0 450px;
    grid-area: 1 / 1 / 2 / 2;
    align-items: center;

    
 }

 #hero-img2 {
    max-width: 100%;
    height: auto;
    margin: 20px 100px;
    grid-area: 2 / 1 / 3 / 3;
    align-items: center;

 }

 .intro {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin: 20px;
  }

 /* Footer styling */
 .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  .footer-left a {
    text-decoration: none;
    color: black;
  }
  
  .footer-right img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }