@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Open+Sans&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #EDF2F4;
  --secondary-color: #282D42;
  --accent1-color: #EF233C;
  --accent2-color: #D90429;

  /* change the values below to your chosen font(s) */
  --heading-font: "Bai Jamjuree", sans-serif;
  --paragraph-font: "Open Sans", sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #282d42;  /* headlines on a white background */ 
  --headline-color-on-color: #EDF2F4; /* headlines on a colored background */ 
  --paragraph-color-on-white: #282d42; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #EDF2F4; /* paragraph text on a colored background */ 
  --paragraph-background-color: #282d42;
  --nav-link-color: #EDF2F4;
  --nav-background-color: #EF233C;
  --nav-hover-link-color: #EDF2F4;
  --nav-hover-background-color: #396E94;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
    color: var(--secondary-color);
  }

#content {
    display: grid;
    grid-template-rows: auto;
}

header {
    background-color: var(--accent1-color);
    padding: 10px;
  }

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo img {
    max-height: 150px;
    border-radius: 50%;
    margin: auto;
}

.navbar-links a {
    margin: 0 10px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 25px;
  }

  .navbar-links :hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
  }

/* Title styling */
.title {
    font-family: var(--heading-font);
    text-align: center;
    margin-top: 10px;
    border: solid black 6px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  

/* Content  */
#hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    margin-top: 20px;
}
 #hero-img1 {
    max-width: 100%;
    height: auto;
    margin: 0 450px;
    grid-area: 1 / 1 / 2 / 2;
    place-items: center;
    
 }

 #hero-img2 {
    max-width: 100%;
    height: auto;
    margin: 20px 100px;
    grid-area: 2 / 1 / 3 / 3;
    place-items: center;

 }

 .intro {
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    background-color: #EDF2F4;    
  }

  .intro h2 {
    text-align: center;
  }

  .intro p {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;    
  }

 /* Footer styling */
 .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent2-color);
    color: var(--headline-color-on-color);
    padding: 10px;
  }
  
  .footer-left a {
    text-decoration: none;
    color: var(--headline-color-on-color);
    background-color: var(--accent2-color);
  }
  
  .footer-right img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }

  
  /* Responsive Styles */

@media only screen and (max-width: 768px) {
    body {
      padding: 2em;
    }
  
    .navbar {
      flex-direction: column;
    }
  
    .navbar-links {
      margin-top: 10px;
    }
  
    .navbar-logo img {
      max-height: 100px;
    }
  
    .navbar-links a {
      margin: 5px;
      font-size: 20px;
    }
  
    #hero img {
      margin: 0 50px;
    }
  
    .intro {
      margin: 10px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    body {
      font-size: 16px;
      padding: 1em;
    }
  
    .navbar-links a {
      font-size: 18px;
    }
  
    #hero img {
      margin: 0 20px;
    }
  }
  
  